<mat-card class="table-card">
  <mat-card-title class="title-container">
    <span class="title">Courses</span>
    @if (role <= 1) {
      <button mat-fab color="primary" class="fab-button"  matTooltip="Add New Course" (click)="openCourseCreationDialog()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </mat-card-title>
  <div class="table-container">
    <table mat-table [dataSource]="allClasses" class="mat-elevation-z8">

      <ng-container matColumnDef="courseId">
        <th mat-header-cell *matHeaderCellDef> Course ID </th>
        <td mat-cell *matCellDef="let course"> {{ course.courseId }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let course"> {{ course.name }} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let course"> {{ course.description }} </td>
      </ng-container>

      <ng-container matColumnDef="studentLimit">
        <th mat-header-cell *matHeaderCellDef> Student Limit </th>
        <td mat-cell *matCellDef="let course"> {{ course.studentLimit }} </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let course">
          @if (!course.isActive) {
            <button mat-icon-button (click)="approveCourse(course)">
              <mat-icon class="check-icon">check_circle</mat-icon>
            </button>
            <button mat-icon-button  (click)="rejectCourse(course.courseId)">
              <mat-icon class="reject-icon">cancel</mat-icon>
            </button>
            <button mat-icon-button  (click)="viewDetails(course)">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          } @else {
            @if (!pickedClasses.includes(course.courseId)) {
              <button mat-icon-button (click)="pickCourse(course.courseId)">
                <mat-icon class="plus-icon">add_circle</mat-icon>
              </button>
            } @else {
              <button mat-icon-button (click)="dropCourse(course.courseId)">
                <mat-icon class="delete-icon">delete</mat-icon>
              </button>
            }
          
            <button mat-icon-button  (click)="viewDetails(course)">
              <mat-icon class="info-icon">info</mat-icon>
            </button>
          }
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>

    </table>
  </div>
</mat-card>
